<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'review/style.css' %}" rel="stylesheet">
    <title>Prof Review</title>
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
                <!--<img src="{% static 'review/prof.PNG' %}" alt="" width="30" height="24" class="d-inline-block align-top">-->
                Prof Review
            </a>
        </div>
    </nav>
    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Recensioni dei professori Italiani</h1>
        <p class="lead">Cerca e condividi la tua esperienza con professori universitari e non, cosi da poter lasciare
            dei feedback agli studenti.
        </p>
        <div class="form_conteiner">
            <button onclick="view_add_form()" class="btn btn-primary">Aggiungi</button>
            <form action="" method="get">
                <input class="form-control" type="text" placeholder="Inserisci nome cognome" name="cognome">
                <button type="submit" class="btn btn-secondary">Cerca</button>
        </div>
        </form>

    </div>

    <div class="container">
        <div class="row">
            {% for reviews in review %}
            <div class="col-sm" style="margin-bottom: 20px;">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">{{ reviews.nome }} {{reviews.cognome}}</h5>
                        <p class="card-text">{{ reviews.descrizione}}</p>
                        <div> {% with ''|center:reviews.stelle as range %}
                            {% for _ in range %}
                                <span class="fa fa-star checked"></span>
                            {% endfor %}
                            {% endwith %}
                           
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form_add" id="form_add">
        
        <form action="" method=POST>
            {% csrf_token  %}
        <div class="mb-3" style="overflow-y: scroll; max-height: 60vh;">
            <span class="raccomandation">Attenzione, testo contenente espressini volgari e ";" non verrà accettato</span>
            {{ form.as_p }}
        </div>
        
        <input type="submit" class="btn btn-success add_prof" />
        <button type="button" class="btn btn-danger close_prof_window" onclick="close_add_form()">Close</button>
    </form>
    </div>



    <script>
        function view_add_form() {
            $('#form_add').css('display', 'block');
            $('.container').css('filter', 'blur(10px)');
        }
        function close_add_form() {
            $('#form_add').css('display', 'none');
            $('.container').css('filter', 'blur(0px)');
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>